{% extends "base.html" %}
{% block content %}

<h3>Generated Reports</h3>

<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Report Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    {% for r in reports %}
        <tr>
            <td>{{ r }}</td>
            <td>
                <a class="btn btn-sm btn-success"
                   href="/download/{{ r }}">
                   Download
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
