{% extends "base.html" %}
{% block content %}

<h3>Scans</h3>

<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>Scan ID</th>
            <th>Name</th>
            <th>Status</th>
            <th>Last Modified</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    {% for s in scans %}
        <tr>
            <td>{{ s.id }}</td>
            <td>{{ s.name }}</td>
            <td>{{ s.status }}</td>
            <td>{{ s.last_modification_date }}</td>
            <td>
                <a class="btn btn-sm btn-primary"
                   href="/scan/{{ s.id }}">
                   View
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
